body {
    background-color: #000000; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  canvas {
    border: 2px solid #eb471c;
    background-color: white; 
    position: relative; 
    z-index: 2;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%; 
    border-bottom-left-radius: 0%; 
    border-bottom-right-radius: 0%;
  }
  
  .toolbox {
    background-color: #eb471c;
    border: 1px solid slateblue;
    display: flex;
    width: 804px;
    padding: 1rem;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%; 
    border-bottom-left-radius: 10%; 
    border-bottom-right-radius: 10%;
  }
  
  .toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1rem + 0.5vw);
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
  }
  
  .toolbox > *:last-child {
    margin-left: auto;
  }

  #clear {
    background-color: transparent; 
  }
  
  .eraser-icon {
    width: 40px; 
    height: auto; 
  }

  
  /* Estrellas */
  .star {
      position: absolute;
      background: white; 
      border-radius: 50%;
      opacity: 0.8; 
      z-index: 1; 
  }
  
  /* Generar estrellas */
  @keyframes twinkle {
      0% { opacity: 0.5; }
      50% { opacity: 1; }
      100% { opacity: 0.5; }
  }
  
  .star {
      animation: twinkle 1.5s infinite alternate; /* Animacion de parpadeo */
  }

 
/* Responsive settings*/
/* Pantalla mobile */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        min-height: 100vh;
        padding: 0; 
        margin: 0;
    }

    .toolbox {
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        padding: 0.5rem;
    }

    .toolbox > * {
        font-size: 1rem;
        height: 40px;
        width: 40px;
        margin: 0.25rem;
    }

    canvas {
        width: 90%;
        max-width: 100%;
        height: calc(100vh - 200px);
        margin: 0 auto; 
        display: block;
    }
}

/* Pantallas mobile mas pequeñas */
@media (max-width: 480px) {
    body {
        min-height: 100vh;
        margin: 0% 4% 0% 0%;
    }

    .toolbox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .toolbox > * {
        font-size: 0.9rem;
        height: 35px;
        width: 35px;
        margin: 0.25rem;
    }

    canvas {
        width: 90%;
        max-width: 100%;
        height: calc(100vh - 180px);
        margin: 0 auto;
        display: block;
    }
}

  